- name: Ensure Tomcat ROOT directory exists
  file:
    path:  /opt/tomcat/current/webapps/ROOT
    state: directory
    owner: tomcat
    group: tomcat
    mode: "0755"

- name: Deploy index.html into ROOT
  template:
    src: index.html.j2
    dest:  /opt/tomcat/current/webapps/ROOT/index.html
    owner: tomcat
    group: tomcat
    mode: "0644"

- name: Deploy demo WAR
  copy:
    src: sample.war
    dest: /opt/tomcat/current/webapps/demo.war
    owner: tomcat
    group: tomcat
    mode: "0644"

- name: Restart Tomcat service
  service:
    name: tomcat
    state: restarted

- name: Check HTTP health
  uri:
    url: http://deb-01:8080/
    status_code: 200
  register: http_check
  retries: 10
  delay: 3
  until: http_check.status == 200
